<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >   
<mapper namespace="springweb.a03_mvc.a03_dao.A02_EmpDao">
	<select id="getEmpList" resultType="emp" 
						    parameterType="emp" >

		select *
		from emp
		where 1=1
		<if test="ename != null">
		and ename like '%'||#{ename}||'%'
		</if>				    
		<if test="job != null">
		and job like '%'||#{job}||'%'
		</if>				    
	</select>
</mapper>