@charset "UTF-8";

body {
	margin: 0.5rem auto;
	align-items: center;
	position: relative;
	background: #e8d7ee;
	z-index: 9999;
}

button {
	cursor: pointer;
}
/*body 크기: 흰색 바탕*/
#full_box {
	width: 60vw;
	height: 98vh;
	text-align: center;
	margin: 0 auto;
	align-items: center;
	position: relative;
	background: white;
	border-radius: 1.1rem;
	z-index: 8888;
}

/*gpt*/
#top {
	width: 59vw;
	height: 5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	margin-left: -0.5rem;
	margin-bottom: 1rem;
}

/* pre 태그 내 텍스트 스타일링 */
#top pre {
	width: 59vw;
	font-size: 2vw;
	font-weight: bold;
	margin-top: 1rem;
	text-align: left;
}
/* top의 이전화면 < */
#top input{
	background:white;
	border:none;
	font-weight:bold;
	font-size:1.5rem;
}


/*아이디를 잊으셨나요? -middle title */
.middle_title {
	position: absolute;
	font-size: 2rem;
	font-weight: bold;
	left: 2.5rem;
	top: 7rem;
	text-align: left;
	color: black;
}

/*확인할게요 -sub_title*/
.sub_title {
	position: absolute;
	font-size: 1.4rem;
	font-weight: bold;
	left: 2.5rem;
	top: 10rem;
	text-align: left;
	color: gray;
}

/*내용 컨테이너*/
.container {
	text-align: center;
	margin: 0 auto;
	align-items: center;
	position: relative;
	top: 13rem;
}
/* 아이디 찾기_이름,휴대폰 번호 입력 박스 */
.login_id input,.login_pwd input{
	width:40rem;
	max-width:40rem;
	min-width:40rem;
	height:6rem;
	margin:0.5rem;
	margin-top:0.5rem;
	border-radius:0.8rem;
	border-width:0.1rem;
	border-color:#cac8c8;
}

/* 각 title */
.find_insert p {
	position:relative;
	left:3rem;
	text-align:left;
	font-size: 1.2rem;
	margin-top:3rem;
}
/*  각 입력 box */
.find_insert input {
	width: 53vw;
	height: 8vh;
	border-radius: 0.5rem;
	border: 0.1rem solid gray;

}
/*-제외하고 입력*/
#mini-info{
	color:gray;
	font-size:1rem;
	margin-top:1.1rem;
}

/*star*/
#star{
	color:purple;
	font-size:1.5rem;
}

/*아이디 찾기 버튼*/
.btn-success{
	width:100%;
	height:10vh;
	min-width:100%;
	max-width:100%;
	background:#cac8c8;
	color:gray;
	font-size:1.5rem;
	font-weight:bold;
	border:none;
	margin-top:12rem;
}
