<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb/a00_com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/springweb/a00_com/jquery.min.js"></script>
<script src="/springweb/a00_com/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue" type="text/javascript"></script>
<script src="https://unpkg.com/axios" type="text/javascript" ></script>
<script src="https://developers.google.com/web/ilt/pwa/working-with-the-fetch-api" type="text/javascript"></script>
<script type="text/javascript">
/*
# keyup 이벤트를 통한 사원정보 검색처리(backend단 ajax 호출)
1. 입력하자마자, 이벤트를 통해서 사원정보를 호출하는 이벤트 처리..
2. 처리 순서
	1) backend단 ajax json데이터 호출 확인..
		http://localhost:7080/springweb/empListData2.do
		http://localhost:7080/springweb/empListData2.do?ename=A&job=A
	2) 사용할 모델 데이터 선언
	3) 이벤트 핸들러 선언
	4) 화면 UI 구성
		- 모델 데이터 mapping 처리..
		- 이벤트 핸들러 호출..
		
		// http://localhost:7080/springweb/empInsert.do
		// http://localhost:7080/springweb/getEmp.do?empno=1001
		// http://localhost:7080/springweb/updateEmp.do
		// http://localhost:7080/springweb/deleteEmp.do?empno=1001

# 등록 처리
1. 모달창 연동 처리
2. 모델데이터 설정 emp객체로 등록/수정/상세 화면을 위한 모델 데이터 설정.
3. 모달 form 안에, 
	1) 입력 요소객체에 v-model 속성으로 모델데이터 연동 처리..
	2) button 생성 - 등록/닫기버튼
	
4. methods 속성으로 이벤트 핸들러  메서드 선언
	1) 모달창 안에 있는 등록 버튼 클릭시, 연동 처리
	2) 이벤트 핸들러 내용
		- ajax로 등록 backend 호출
		- success: 
			등록 된 이후 내용 alert(msg) 및 등록이후, 다시 검색된 내용 메서드 호출 this.search()
		
*/
	$(document).ready(function(){
		// 내부 서버에 같이 처리되는 경우 http://localhost:7080 생략가능..
		const BASEURL="/springweb/";
		var vm = Vue.createApp({
			name:"App",
			data(){
				return {msg:"사원정보 조회!",
						sch:{ename:"",job:""},
						emp:{empno:0,ename:"",job:"",mgr:0,hiredate:"",
							sal:0.0,comm:0.0,deptno:0},
						empList:[]
				};
			},
			methods:{
				insert(){
					// aios 등록 	
				},
				search(){
					// 검색을 이벤트를 클릭하거나, 호출 처리할 핸들러함수 선언.
					axios.get(BASEURL+"empListData2.do?ename="+this.sch.ename+"&job="+this.sch.job)
					.then((response)=>{
						var list=response.data.empList
						console.log(list)
						this.empList = list // 모델 데이터에 할당..
					})
					.catch((err)=>{
						console.log("# 에러 발생 #")
						console.log(err)
					})
				}
			},
			created(){
				// 라이프사이클시, 시작시 처리되는 내용
				this.search()
			}
		}).mount(".container")
	});
</script>
</head>
<body>

<div class="container">
	<div class="jumbotron text-center">
	  <h2 >{{msg}}</h2>
	</div>
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input v-model="sch.ename" @keyup.enter="search" class="form-control mr-sm-2" placeholder="사원명" />
	    <!-- 키를 입력할 때, enter 입력시 search 이벤트 핸들러 메서드 호출.. -->
	    <input v-model="sch.job"  @keyup.enter="search"  class="form-control mr-sm-2" placeholder="직책" />
	    <button @click="search" class="btn btn-info" type="button">Search</button>
	    <button class="btn btn-success" 
	    	data-toggle="modal" data-target="#exampleModalCenter"
	        type="button">등록</button>	    
 	</nav>
   <table class="table table-hover table-striped">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
    <thead>
      <tr class="table-success text-center">
        <th>사원번호</th>
        <th>사원명</th>
        <th>직책명</th>
        <th>급여</th>
        <th>부서번호</th>
      </tr>
    </thead>	
    <tbody>
    	<tr v-for="emp in empList">
    		<td>{{emp.empno}}</td><td>{{emp.ename}}</td><td>{{emp.job}}</td>
    		<td>{{emp.sal}}</td><td>{{emp.deptno}}</td></tr>
    </tbody>
	</table>       
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">사원정보등록</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form id="frm02" class="form"  method="post">
	     <div class="row">
	      <div class="col">
	        <input type="number" class="form-control" placeholder="사원번호 입력" v-model="empno" name="empno">
	      </div>
	      <div class="col">
	        <input type="text" class="form-control" placeholder="사원명 입력" v-model="ename" name="ename">
	      </div>
	     </div>	 
	     <div class="row">    
	      <div class="col">
	        <input type="text" class="form-control" placeholder="직책명 입력" v-model="job" name="job">
	      </div>
	      <div class="col">
	        <input type="number" class="form-control" placeholder="관리자번호 입력" v-model="mgr" name="mgr">
	      </div>
	     </div> 
	     <div class="row">    
	      <div class="col">
	        <input type="date" class="form-control" placeholder="입사일 입력" v-model="hiredate" name="hiredate">
	      </div>
	      <div class="col">
	        <input type="number" class="form-control" placeholder="급여 입력" v-model="sal" name="sal">
	      </div>	      
		 </div>
		 <div class="row">    
	      <div class="col">
	        <input type="number" class="form-control" placeholder="보너스 입력" v-model="comm" name="comm">
	      </div>
	      <div class="col">
	        <select  class="form-control"  v-model="deptno" name="deptno">
	        	<option value="0">부서번호선택</option>
	        	<option value="10">인사</option>
	        	<option value="20">재무</option>
	        	<option value="30">회계</option>
	        	<option value="40">기획</option>
	        </select>
	      </div>
	    </div>
	      
	    
	    </form> 
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">등록</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>