<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb/a00_com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/springweb/a00_com/jquery.min.js"></script>
<script src="/springweb/a00_com/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue" type="text/javascript"></script>
<script src="https://unpkg.com/axios" type="text/javascript" ></script>
<script src="https://developers.google.com/web/ilt/pwa/working-with-the-fetch-api" type="text/javascript"></script>
<script type="text/javascript">
/*
# keyup 이벤트를 통한 사원정보 검색처리(backend단 ajax 호출)
1. 입력하자마자, 이벤트를 통해서 사원정보를 호출하는 이벤트 처리..
2. 처리 순서
	1) backend단 ajax json데이터 호출 확인..
		http://localhost:7080/springweb/empListData2.do
		http://localhost:7080/springweb/empListData2.do?ename=A&job=A
	2) 사용할 모델 데이터 선언
	3) 이벤트 핸들러 선언
	4) 화면 UI 구성
		- 모델 데이터 mapping 처리..
		- 이벤트 핸들러 호출..
		
		
*/
	$(document).ready(function(){
		// 내부 서버에 같이 처리되는 경우 http://localhost:7080 생략가능..
		const BASEURL="/springweb/empListData2.do?";
		var vm = Vue.createApp({
			name:"App",
			data(){
				return {msg:"사원정보 조회!",
						sch:{ename:"",job:""},
						empList:[]
				};
			},
			methods:{
				search(){
					// 검색을 이벤트를 클릭하거나, 호출 처리할 핸들러함수 선언.
					axios.get(BASEURL+"ename="+this.sch.ename+"&job="+this.sch.job)
					.then((response)=>{
						var list=response.data.empList
						console.log(list)
						this.empList = list // 모델 데이터에 할당..
					})
					.catch((err)=>{
						console.log("# 에러 발생 #")
						console.log(err)
					})
				}
			},
			created(){
				// 라이프사이클시, 시작시 처리되는 내용
				this.search()
			}
		}).mount(".container")
	});
</script>
</head>
<body>

<div class="container">
	<div class="jumbotron text-center">
	  <h2 >{{msg}}</h2>
	</div>
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input v-model="sch.ename" @keyup.enter="search" class="form-control mr-sm-2" placeholder="사원명" />
	    <!-- 키를 입력할 때, enter 입력시 search 이벤트 핸들러 메서드 호출.. -->
	    <input v-model="sch.job"  @keyup.enter="search"  class="form-control mr-sm-2" placeholder="직책" />
	    <button @click="search" class="btn btn-info" type="button">Search</button>
 	</nav>
   <table class="table table-hover table-striped">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
    <thead>
      <tr class="table-success text-center">
        <th>사원번호</th>
        <th>사원명</th>
        <th>직책명</th>
        <th>급여</th>
        <th>부서번호</th>
      </tr>
    </thead>	
    <tbody>
    	<tr v-for="emp in empList">
    		<td>{{emp.empno}}</td><td>{{emp.ename}}</td><td>{{emp.job}}</td>
    		<td>{{emp.sal}}</td><td>{{emp.deptno}}</td></tr>
    </tbody>
	</table>       
</div>
</body>
</html>